/*head.css
整个项目中头部的样式 */
/*-------------------------------------------------------顶部的导航*/
.top{
	height: 30px;
}
.basic li,.user li{
	height: 30px;
	line-height: 30px;
	float: left;
}
.collect{
	background: url("../images/star.png") no-repeat;
	width: 12px;
	height: 12px;
	display: inline-block;
}
a:hover .collect{
	background: url("../images/star-hover.png") no-repeat;
}

.toggleli{	/*表示一个有下拉内容的li*/
	position:relative;
}
.togglea{   /*表示一个有下拉内容的a*/
	display: inline-block;
	position:relative;
	z-index:20;
	height: 30px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	padding:0 15px 0 15px;
	
}
/*获取焦点时： 给当前的li添加一个类 on


*/
.togglemenu{  						/*表示下拉内容*/
	display: none;       /*默认隐藏*/
	background: #fff;
	position: absolute;
	top:29px;
	left:0;
	white-space: nowrap; /*不要换行*/
	border:1px solid #ddd;
	padding: 0 20px 10px 20px;
	z-index:3;
}
.user .togglemenu{
	right:0;
	left:auto;
}
.togglemenu img{
	display: block;
}
.togglemenu li{
	float: none;
}
.on .togglea{ /*1.改变a标记的背景色，边框*/
	background: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.on .togglemenu{/*2.把togglemenu显示出来*/
	display: block;
}
.on .icon-phone{ /*3.更改手机图片*/
	background:url("../images/sp-main.png") -334px -161px no-repeat;
	top:6px;
}
.on .icon-tri{  /*4.更改三角形*/
	border:4px solid transparent;
	border-bottom-color:#666;
	top:8px;
}
.icon-phone{
	background:url("../images/sp-main.png") -334px -141px no-repeat;
	width: 15px;
	height: 20px;
	display: inline-block;
	position: absolute;
	top:10px;
	left:5px;
}
.icon-tri{
	border:4px solid transparent;
	border-top-color:#666;
	width: 0;
	height: 0;
	display: inline-block;
	position: absolute;
	top:12px;
	right:5px;
}
.vertical-line{	/*垂直的线条*/
	height: 12px;
	width: 1px;
	background: #ddd;
	display: inline-block;
	position: absolute;
	top:10px;
	right:-1px;
}
/*-------------------------------------------------------顶部的导航 end*/

/*-------------------------------------------------------顶部的搜索  */
.logo{
	height: 70px;
}

.logobox{
	width:335px;
	height:55px;
}
.sec980 .logobox{
	width:265px;
}


.searchbox{
	width:488px;
	height:70px;
}

.promise{
	width:175px;
	height:45px;
}
.logoimg{
	background: url("../images/sp-main.png") -260px -44px no-repeat;
	width: 85px;
	height: 55px;
	display: inline-block;
	text-indent: -9999px;
}
.logobox h2{
	margin-top: 15px;
}
.searchbox form {
	width: 487px;
	height:40px;
	border:2px solid #2bb8aa;
}
.searchbox form button{
	float: right;
	background: #2bb8aa;
	height: 40px;
	width: 80px;
	color:#fff;
	text-align: center;
	border:none;
}
.searchbox form div{
	width: 62px;
	height: 40px;
	line-height: 40px;
	border-right: 1px solid #ddd;
	text-align: center;
}
.searchbox form input{
	height: 40px;
	padding-left:20px;
	border:none;
	width: 324px;
}
.searchbox ul{
	margin-top: 15px;
}
.searchbox li{
	float:left;
	margin:0 10px;
}

.promise a{
	float:right;
}
.promise img{
	display: block;
}
/*-------------------------------------------------------顶部的搜索 end  */

/*-------------------------------------------------------nav中展开部分  */
.nav {
	height: 520px;
}
.navbox{
	height: 40px;
	background: #2bb8aa;
	line-height: 40px;
}
.navbox h2{
	width: 245px;
	height: 40px;
	text-align: center;
	color:#fff;
}
.nav-right li{
	float: left;
}
.catebox{	/*用于包含整个列表的div*/
	position: relative;
}
ul.categroy{   /*下拉列表的内容*/
	position: absolute;
	width: 245px;
	border-left:1px solid #ddd;
	border-bottom:1px solid #ddd;
	background: #f9f9f9;
	z-index: 2;
}

.cateitem{	/*每一个li*/
	height: 52px;
	line-height: 52px;
	border-right: 1px solid #ddd;
}
.cateitem a{
	text-decoration: none;
}
/*
对于每一个li，当鼠标获得焦点时，做如下事情：
1.改自己的背景色#fff;去掉右边框
2.显示level2内容。
3.把array-right隐藏
 */
.on{
	background: #fff;
	border-right: 1px solid transparent;  /*去掉右边框*/
}
.on .level2{
	display: block;                      /*显示level2内容*/
}
.on .arrow-right{ 						/*3.把array-right隐藏*/
	/*display: none;*/
	visibility: hidden;
}

.level1{
	margin-left: 20px;
	height: 51px;
	border-bottom: 1px solid #ddd;
}
.level2{
	white-space: nowrap;
	height: 468px;
	border-bottom:1px solid #ddd;
	border-right:1px solid #ddd;
	left:245px;
	top:0;
	position:absolute;  /*它的父级定位的元素是整个的下拉列表的内容 .categroy*/
	display: none;
	padding-right: 20px;
	z-index:0;
	background: #fff;
}
.level2 dl{
	display: inline-block; /*两个dl在一行中*/
	margin-left: 20px;
	vertical-align: top;
}
.level2 dl dt{
	height: 52px;
	line-height: 52px;
	font-size: 16px;
}
.level2 dl dd{
	height: 25px;
	line-height: 25px;
}
.arrow-right{
	background: url("../images/arrow-right.png") no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	position: relative;
	top:16px;
}

.nav-right li{ /*右边的导航部分*/
	margin:0 15px;
}
.nav-right li a{
	color: #fff;
}
/*-------------------------------------------------------nav中展开部分 end  